/*estilo a las cjas de las prendas*/

.elementos {
    padding: 1%;
}

.elementos:hover {
    background-color: #76cac06b;
    border-radius   : 10px;
}

/* estilo de descripcion de prenda */

.description {
    min-width : 100%;
    height    : 150px;
    overflow-y: hidden;
}

.description:hover {
    overflow-y: auto;
}

.text-price {
    color: #b5d9d4;
}

.btn-primary {
    background-color: #093f4e !important;
    border          : 1px solid #08879df0 !important;
    transition      : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    background-color: #187d99 !important;
    border-color    : #093f4e !important;
}